<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>博客</title>
</head>
<body>
    <a href="/"> Go to home</a>
    <a href="/about/">About me</a>
    <a href="/blog/">Blog</a>
    <h1>我的 Astro 学习博客</h1>
  <p>在这里，我将分享我的学习 Astro 之旅。</p>
</body>
</html>
