---
import RootPage from "../layouts/RootPage.astro";
import Info from "../components/Info.astro";
import BlogList from "../layouts/BlogList.vue";
import NavbarLayout from "../layouts/NavbarLayout.astro";
import NavBar from "../components/NavBar.astro";


---

<RootPage title="Welcome to Astro.">
  <div class=" mt-4 mx-10 min-h-screen max-h-screen">
    <div class=" flex flex-col ">
      <div class=" overflow-hidden rounded-lg">
        <NavbarLayout>
          <NavBar>
        </NavbarLayout>
        <div class=" flex flex-row mt-[20px] h-[calc(100vh-4rem-20px)] overflow-auto">
          <BlogList client:load></BlogList>
          <Info ></Info>
        </div>
      </div>
    </div>
  </div>
</RootPage>

<style is:global>
body html {
  height: 100%;
}

/* hide the ugly scrollbar, scrw you!!! */
::-webkit-scrollbar {
  display: none;
}
</style>
