---
import RootPage from "../layouts/RootPage.astro";
import Info from "../components/Info.astro";
---

<RootPage title="Welcome to Astro.">
  <div class=" pt-4 px-10 h-screen">
    <div class=" grid grid-cols-[auto_20%] grid-rows-8 gap-x-4 gap-y-4 h-full">
      <div class=" shadow-md bg-[rgba(255,255,255,0.4)] rounded-lg col-span-2 row-span-1 ">Header</div>
      <div class=" shadow-md bg-[rgba(255,255,255,0.4)] rounded-lg col-span-1 row-span-6 ">Content</div>
      <!-- <div class=" shadow-md bg-[rgba(255,255,255,0.4)] rounded-lg col-span-1 row-span-6 ">Info</div> -->
      <Info ></Info>
    </div>
  </div>
</RootPage>

<style>
  main {
    margin: auto;
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }
  .astro-a {
    position: absolute;
    top: -32px;
    left: 50%;
    transform: translatex(-50%);
    width: 220px;
    height: auto;
    z-index: -1;
  }
  h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin-bottom: 1em;
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  .instructions {
    margin-bottom: 2rem;
    border: 1px solid rgba(var(--accent-light), 25%);
    background: linear-gradient(
      rgba(var(--accent-dark), 66%),
      rgba(var(--accent-dark), 33%)
    );
    padding: 1.5rem;
    border-radius: 8px;
  }
  .instructions code {
    font-size: 0.8em;
    font-weight: bold;
    background: rgba(var(--accent-light), 12%);
    color: rgb(var(--accent-light));
    border-radius: 4px;
    padding: 0.3em 0.4em;
  }
  .instructions strong {
    color: rgb(var(--accent-light));
  }
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 2rem;
    padding: 0;
  }
</style>
