---
import RootPage from "../layouts/RootPage.astro";
import Info from "../components/Info.astro";
import BlogList from "../layouts/BlogList.vue";
import NavBar from "../components/NavBar.astro";
import blog1 from '../assets/blog1.png';
import blog2 from '../assets/blog2.png';

const mdList = await Astro.glob('../pages/posts/*.md');
// looks like: /posts/VueProjectNote /posts/d2-linux /posts/d5-environment /posts/post_1
// can be used as blog list props
// const urlList = mdList.map((mdFile)=>{
//     return `${mdFile.url} `;
// })
const blogList = [];
mdList.forEach((mdFile)=>{
   blogList.push({
      image_url: blog1.src,
      title:mdFile.frontmatter.title,
      href:mdFile.url,
      summary:mdFile.frontmatter.summary
   })
})
---

<RootPage title="Welcome to Astro.">
  <div class=" mt-4 mx-10 min-h-screen max-h-screen w-100vw">
    <div class=" flex flex-col ">
      <div class=" overflow-hidden rounded-lg">
          <NavBar></NavBar>
        <div class=" flex flex-row mt-[20px] h-[calc(100vh-4rem-20px)] overflow-auto">
          <BlogList BlogList={blogList} client:load></BlogList>
          <Info ></Info>
        </div>
      </div>
    </div>
  </div>
</RootPage>

<style is:global>
body html {
  height: 100%;
}

/* hide the ugly scrollbar, scrw you!!! */
::-webkit-scrollbar {
  display: none;
}
</style>
