<div class="daisy-stats gh-stats">
    <div class="daisy-stat">
        <div class="daisy-stat-title">Total Contributions</div>
        <div class="daisy-stat-value">89,400</div>
        <div class="daisy-stat-desc">21% more than last month</div>
      </div>
</div>

<style>
    .gh-stats {
        @apply w-full;
        @apply bg-teal-700;
    }
</style>