---
import '@svgdotjs/svg.js';
// using third party api to query github contribution, if api failed we can switch to github graphQL api
// remenber to store the secret key in .env
// https://github-contributions-api.deno.dev/{UserName}
---
<div id="container">
    <!-- {github_graph} -->
    <div id="heat-map" class="heat-map"></div>
    <div id="heat-map-1" class="heat-map"></div>
    <div id="heat-map-2" class="heat-map"></div>
</div>

<style>
    #container {
        @apply w-full;
        @apply flex flex-col items-center justify-center gap-4;
        @apply mx-auto mt-[20px] py-[20px];
        @apply bg-[rgba(255,255,255,0.4)] rounded-lg shadow-lg;
    }

    .heat-map {
        @apply grid grid-cols-11 grid-rows-3 gap-1;
        @apply w-[205px];
        @apply h-[53px];
    }
</style>

<script src="../scripts/heat_map.js">
</script>
