---
import '@svgdotjs/svg.js';
// const response = await fetch('https://ghchart.rshah.org/NenoSann');
// const github_graph = response.body;
// https://github-contributions-api.deno.dev/NenoSann.json?from=2023-09-01T00:00:00Z&to=2023-09-30T23:59:59Z
---
<div id="container">
    <!-- {github_graph} -->
    <div id="heat-map" class="heat-map"></div>
    <div id="heat-map-1" class="heat-map"></div>
    <div id="heat-map-2" class="heat-map"></div>
</div>

<style>
    #container {
        @apply w-full;
        @apply flex flex-col items-center justify-center gap-4;
        @apply mx-auto mt-[20px] py-[20px];
        @apply bg-[rgba(255,255,255,0.4)] rounded-lg shadow-lg;
    }

    .heat-map {
        @apply grid grid-cols-11 grid-rows-3 gap-1;
        @apply w-[205px];
        @apply h-[53px];
    }
</style>

<script type="module">
    function generateRandomColor() {
        // 生成随机的颜色代码
        var letters = '0123456789ABCDEF';
        var color = '#';
        for (var i = 0; i < 6; i++) {
            color += letters[Math.floor(Math.random() * 16)];
        }
        return color;
    }

function generateRandomColorArray(length) {
  var colorArray = [];
  for (var i = 0; i < length; i++) {
    var randomColor = generateRandomColor();
    colorArray.push(randomColor);
  }
  return colorArray;
}

    let colorArray = generateRandomColorArray(30);
    import { SVG, extend as SVGexted, Element as SVGElement,Rect } from '../../node_modules/@svgdotjs/svg.js/dist/svg.esm.js';
    // import { SVG, extend as SVGextend, Element as SVGElement,Rect } from '@svgdotjs/svg.js';
    const RectArray = [];
    for(let i = 0;i<30;i++){    
        let newSVG = SVG().size('15px','15px').addTo('#heat-map');
        newSVG.rect('15px','15px').attr({fill:colorArray[i],rx:'2px'});
    }
    for(let i = 0;i<30;i++){    
        let newSVG = SVG().size('15px','15px').addTo('#heat-map-1');
        newSVG.rect('15px','15px').attr({fill:colorArray[i],rx:'2px'});
    }
    for(let i = 0;i<30;i++){    
        let newSVG = SVG().size('15px','15px').addTo('#heat-map-2');
        newSVG.rect('15px','15px').attr({fill:colorArray[i],rx:'2px'});
    }
</script>

<!-- <script>
    import GitHubCalendar from 'github-calendar';
    GitHubCalendar("#heat-map", "NenoSann");
</script> -->