---
import { Image } from "astro:assets";
import Avatar from "./Avatar.astro";
import SocialIcon from "./SocialIcon.vue";
import '@fontsource-variable/lexend';
const IconSets = [{src: bilibili.src,ref:'https://space.bilibili.com/19883061'},
{src:github.src,ref:'https://github.com/NenoSann'},
{src:qq.src,ref:''},
{src:twitter.src,ref:'https://twitter.com/FNoobuuu'}]
import Miku from '../assets/NewYearMiku-2K.webp';
import qq from '../assets/qq.svg';
import bilibili from '../assets/bilibili.svg';
import twitter from '../assets/icon-kfckfc.svg';
import github from '../assets/github-mark.svg';
import avatar from '../assets/avatar.png';
---
<div class="flex flex-col items-center gap-4 shadow-lg  bg-[rgba(255,255,255,0.4)] rounded-lg overflow-hidden h-fit pb-5 flex-grow-0
            portrait:m-0 portrait:flex-grow portrait:w-full">
    <div class=" relative">
        <Image src={Miku} alt="Hatsune Miku 2022 NewYear image" class="relative"></Image>
        <Avatar avatar_url={avatar.src}  component_class=" translate-y-1/2 absolute bottom-0 w-1/5 left-1 shadow-md rounded-full overflow-hidden hover:shadow-2xl transition-shadow "/>
    </div>
    
    <p class=" text-3xl antialiased font-bold bg-clip-text text-transparent bg-gradient-to-r from-primary to-secondary">[NenoSan]</p>
    <SocialIcon IconArray={IconSets} />
</div>

<style>
    p {
        font-family: 'Lexend Variable', sans-serif;
    }
</style>

