---
import BlogCard from "../components/BlogCard.astro";
---
<main class=" flex  shadow-md bg-[rgba(255,255,255,0.4)] rounded-lg col-span-1 row-span-6">
    <BlogCard image_url="src/assets/blog1.png"></BlogCard>
</main>