---
const {frontmatter} = Astro.props;
import NavBar from "../components/NavBar.astro";
import '../../public/favicon.ico'
---
<!DOCTYPE html>
<html lang="zh-Hans">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image" href="../../public/favicon.ico" />
    <title>{frontmatter.title}</title>
</head>
<body>
    <NavBar></NavBar>
    <article>
        <slot></slot>
    </article>
</body>
</html>

<style is:global>
    body{
       display: flex; 
       flex-direction: column;
       @apply bg-base-100 dark:bg-neutral;
    }
    article {
        margin-top: 2rem;
        padding-left: 8vw;
        padding-right: 8vw;
        @apply prose prose-neutral lg:prose-lg max-w-none;
        @apply dark:prose-invert;
        @apply prose-a:italic;
        @apply prose-h1:text-center;
        @apply prose-code:daisy-mockup-code prose-code:bg-transparent;
    }
</style>