---
interface Props {
  title: String;
}
import '../../public/global.css'
// get the title from props
const { title } = Astro.props;
---

<!doctype html>
<html lang="zh-Hans">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title}</title>
  </head>
  <!-- bg-gradient-to-t from-[#a8edea] via-transparent to-[#fed6e3] -->
  
  <body class="bg-fixed bg-[radial-gradient(ellipse_at_bottom_right,_var(--tw-gradient-stops))] from-secondary to-primary  bg-contain bg-center
               overflow-hidden">
        <slot />
  </body>
</html>

<style>
  body {
    height: 100%;
  }
</style>
